VITE_SUPABASE_URL=https://zcjtvykwwplnzyyslnop.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
VITE_SUPABASE_ANON_KEY=your-supabase-publishable-key
VITE_CLOUDFLARE_API_URL=https://testagram-api.nahashonnyaga794.workers.dev/api
